/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
    font-size: 62.5%
}
body{
    background-color: black;
}

/******************************************
/* LAYOUT
/*******************************************/

header{
    margin-top: 40px;
}

.leftHeader h2{
    color: white;
}

a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.wrapper, ul{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    gap: 40px;    
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/